* {
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
}

:root {
  --main-color: #0075ff;
  --btn-color: #26c6da;
  --footer-color: #22242a;
  --pdf-color:#dc3545;
}

svg:not(:root) {
  overflow: hidden;
}

.bg-light {
  background-color: #f8f6f6 !important;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #23527c !important;
}

/* Start Navbar */
.navbar {
  background-color: var(--main-color);
}

.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: white;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  color: #0075ff;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav {
  padding-right: 0;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  color: black;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.active {
  color: black;
}

.navbar {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background-color: var(--main-color);
}
.main-btn {
  padding: 0.5rem 1rem;
  background-color: var(--btn-color);
  color: #fff;
}
.in .nav-item .active {
  background-color: #dc3545;
}
/* End Navbar */
/* Start conrent */

/* End conrent */
/* Start week */

.weeks .container h3 {
  font-weight: 550;
}

.week .content .icon {
  color: var(--pdf-color);
}

.week>a,
.week>a:hover,
.week>a:active {
  color: black !important;
}

/* End week */
/* Start quzi */
.in .nav-item .active {
  background-color: #dc3545;
}

.quiz .content .icon {
  color: var(--pdf-color);
}

.quiz>a,
.quiz>a:hover,
.quiz>a:active {
  color: black !important;
}

.quizs .quiz h3 {
  font-weight: 550;
}

.quiz .icon {
  color: var(--pdf-color);
  font-size: 25px;
}

/* End quzi */