* {
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
}

:root {
  --main-color: #0075ff;
  --btn-color: #26c6da;
  --footer-color: #22242a;
  --pdf-color: #dc3545;
}

svg:not(:root) {
  overflow: hidden;
}

.bg-light {
  background-color: #f8f6f6 !important;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #23527c !important;
}

/* Start Navbar */
.navbar {
  background-color: var(--main-color);
}

.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: white;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  color: #0075ff;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav {
  padding-right: 0;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  color: black;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.active {
  color: black;
}

.navbar {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background-color: var(--main-color);
}
.main-btn {
  padding: 0.5rem 1rem;
  background-color: var(--btn-color);
  color: #fff;
}
.in .nav-item .active {
  background-color: #dc3545;
}
/* End Navbar */
/* Start quiz */
.quiz-question {
  background-color: #f4f4f4;
}
.quiz-question h3 {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 0;
}
.quiz-answers {
  background-color: #fff;
  padding: 0 20px 20px;
}
.quiz-answers .quiz-answer {
  background-color: #f9f9f9;
  padding: 15px;
}
.quiz-answers .quiz-answer:not(:last-child) {
  border-bottom: 1px solid #e9ecef;
}
.quiz-answers .quiz-answer input[type="Radio"]:checked + label {
  color: #0075ff;
}
.quiz-answers .quiz-answer label {
  margin-right: 10px;
}
.main-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* End quiz */
/* Start Footer */
.footer {
  background-color: var(--footer-color);
  color: #fff;
}
.footer .icon {
  font-size: 25px;
  margin: 20px 0;
}
.footer .icon > a {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}
.footer .icon .face:hover,
.footer .icon .face:active {
  color: #0075ff !important;
}
.footer .icon .yout:hover,
.footer .icon .yout:active {
  color: #f00 !important;
}
.footer .icon .enve:hover,
.footer .icon .enve:active {
  color: #6c757d !important;
}
.footer .text p {
  font-size: 18px;
  line-height: 2;
  margin: 20px 0;
  font-weight: 400;
}
@media (max-with: 526px) {
  .footer .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* End Footer */
